<ion-view title="About" class="padding">
  <ion-content>
  	<div align="center" type="item-text-wrap" class="about"></div>
    <br><br><br><br><br><br><br>
    <div class="row responsive-lg">
      <div class="col" align="center"><b>StressLess</b> helps users communicate and share difficult mental health or addictive challenges with friends and family who want to support them.
        <br><br>When users enter a Panic state, they can click the Red Panic Button, and the App will send an alert text message to all Contacts (set by the user in Settings). At the same time, users can view their Defenses (also set by the user in Settings) and track any Triggers.
        <br><br>When users aren't in Panic mode but are feeling vulnerable or introspective, they can click the Yellow Pulse Button. This allows users to consider how they're feeling and also take notes that are saved for the user in History.
        <br><br><br>Created Feb 2015 by <b>Amanda Peterson</b>.
        <br>
      </div>
    </div>
      

  </ion-content>
</ion-view>