<ion-view view-title="Check In: Triggers">
  <ion-content>
  <ul class="list" ng-repeat="trigger in triggers">
    <li class="item item-checkbox">
      <label class="checkbox">
        <input type="checkbox">
      </label>
      {{trigger.body}}
    </li>
  </ul>
  <a class="button button-block button-outline button-dark" href="#/loggedin">Submit</a>
  </ion-content>
</ion-view>


<!-- <ion-view view-title="Check In: Triggers">
  <ion-content>
  <ul class="list">
	  <li class="item item-checkbox">
	     <label class="checkbox">
	       <input type="checkbox">
	     </label>
	     Feeling lately it's not a big deal
	  </li>
	  <li class="item item-checkbox">
	     <label class="checkbox">
	       <input type="checkbox">
	     </label>
	     Got bored
	  </li>
	  <li class="item item-checkbox">
	     <label class="checkbox">
	       <input type="checkbox">
	     </label>
	     I don't know
	  </li>
		</br>
		<a class="button button-block button-outline button-dark" href="#/loggedin">Submit</a>
	</ul>
	</ion-content>
</ion-view> -->
