<ion-view view-title="Check In: Triggers">
  <ion-content>
  <ul class="list">
	  <li class="item item-checkbox">
	     <label class="checkbox">
	       <input type="checkbox">
	     </label>
	     Feeling lately it's not a big deal
	  </li>
	  <li class="item item-checkbox">
	     <label class="checkbox">
	       <input type="checkbox">
	     </label>
	     Got bored
	  </li>
	  <li class="item item-checkbox">
	     <label class="checkbox">
	       <input type="checkbox">
	     </label>
	     I don't know
	  </li>
		</br>
		<!-- <button type="submit" value="Submit" class="button button-full button-calm" ng-click="triggerSubmit()">Submit</button> -->
		<a class="button button-block button-outline button-dark" href="#/loggedin">Submit</a>
	</ul>
	</ion-content>
</ion-view>
