<ion-view title="mainPage" hide-nav-bar="true" class="signup-background">
  <ion-content>

    <div><br><br><br><br><br><br><br><br><br><br><br><br><br><br></div>
    <div class="stressless">StressLess

      <br><br><br><br><br><br><br><br><br><br></div>
    <div class="row">

      <div class="col">
        <a class="button button-block button-outline button-light" href="#/login">SIGN IN</a>
      <br>
      <a href="#/signup"><div class="signup">Not a member?</div></a>
    </div>
  </ion-content>
</ion-view>