<ion-view view-title="Mood">
  <ion-content scroll="true">
  <ul class="list">

	  <li class="item item-checkbox">
	     <label class="checkbox">
	       <input type="checkbox">
	     </label>
	     Anxiety
	  </li>
	  <li class="item item-checkbox">
	     <label class="checkbox">
	       <input type="checkbox">
	     </label>
	     Discouraged
	  </li>
	  <li class="item item-checkbox">
	     <label class="checkbox">
	       <input type="checkbox">
	     </label>
	     Exhaustion
	  </li>
	  <li class="item item-checkbox">
	     <label class="checkbox">
	       <input type="checkbox">
	     </label>
	     Fear
	  </li>
	  <li class="item item-checkbox">
	     <label class="checkbox">
	       <input type="checkbox">
	     </label>
	     Anger
	  </li>
	 
		</br>
		<!-- <button type="submit" value="Submit" class="button button-full button-outline button-dark" ng-click="moodSubmit()">Submit</button> -->

		<a class="button button-block button-outline button-dark" href="#/loggedin">Submit</a>

	</ul>
	</ion-content>
</ion-view>
