<ion-view view-title="Profile">
	<ion-content>
		<div class="list">
		  <a class="item item-icon-left" href="#">
		    <i class="icon ion-ios-flag-outline"></i>
		    Issues
		  </a>
		  <a class="item item-icon-left" href="#">
		    <i class="icon ion-ios-thunderstorm-outline"></i>
		    Red Button
		  </a>
		  <a class="item item-icon-left" href="#">
		    <i class="icon ion-ios-rainy-outline"></i>
		    Yellow Button
		  </a>
		</div>
	</ion-content>
</ion-view>

I'm having a difficult time. Give me a call or shoot me a text if you have a minute.
5 lines of defense are the staregies that you decide on ahead of time to help you when you're under temptation. like get up and move. change location. call your mentor. review your goals. you're supposed to do all five.
trends: if it were built to find longer-term irregularities. if im consistently messing up in the afternoon. what is it that i'm feeling?

