<ion-view view-title="History">
  <ion-content class="padding" scroll="true">
    <div class="list card">
      <div class="item item-divider">
        Tue, Feb 17 @ 10:11PM
      </div>
      <div class="item item-body">
        <div>
          Wasn't a great experience. Don't think I was thinking... :/
        </div>
      </div>
      <div class="item item-divider item-light">
        <i class="icon ion-thumbsdown"></i>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">
        Sun, Feb 15 @ 3:53PM
      </div>
      <div class="item item-body">
        <div>
          I did it! Yay!!<br>Lately I have been feeling really stressed but I feel like everytime I want to give up, something happens that helps me to see cleary and believe in myself! I can do this!!!!!! 
        </div>
      </div>
      <div class="item item-divider item-light">
        <i class="icon ion-thumbsup"></i>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">
        Fri, Feb 13 @ 8:27AM
      </div>
      <div class="item item-body">
        <div>
          Feeling good about the day so far! :)
        </div>
      </div>
      <div class="item item-divider item-light">
        <i class="icon ion-thumbsup"></i>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">
        Thu, Feb 12 @ 7:52PM
      </div>
      <div class="item item-body">
        <div>
          Yeaaaaayuuuuuh~~~~~~
        </div>
      </div>
      <div class="item item-divider item-light">
        <i class="icon ion-thumbsdown"></i>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">
        Wed, Feb 11 @ 9:23PM
      </div>
      <div class="item item-body">
        <div>
          Could've been better
        </div>
      </div>
      <div class="item item-divider item-light">
        <i class="icon ion-thumbsdown"></i>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">
        Mon, Feb 9 @ 10:09AM
      </div>
      <div class="item item-body">
        <div>
          I just had the best experience. I feel like even though things have been really tough, I have learned so much. Hooray! I'm so grateful :) :)
        </div>
      </div>
      <div class="item item-divider item-light">
        <i class="icon ion-thumbsup"></i>
      </div>
    </div>
  </ion-content>
</ion-view>