<ion-view title="Home" hide-back-button="true">
  <ion-content>
  	
    <div align="center" type="item-text-wrap" class="cover-photo"><br><br><br><br><br><br><br><br><br><br><br><br><br><br></div>

    <a class="button button-block button-large button-outline button-assertive" ng-click="sendAlert()">Send alert</a>    

    <a class="button button-block button-large button-outline button-energized" href="#/moods">Pulse check</a>

    <div class="row responsive-lg">
      <div class="col" align="center">Make it a great day, <b>{{ user.username }}</b>!</div>
    </div>
  </ion-content>
</ion-view>